---
import { firebaseAdmin } from "../firebaseconfig";

import BaseLayout from "../layouts/BaseLayout.astro";

const sessionCookie = Astro.cookies.get("session");
let shouldRedirect = false;

if (!sessionCookie) {
  return Astro.redirect("/");
} else {
  await firebaseAdmin
    .auth()
    .verifySessionCookie(sessionCookie.value, true)
    .catch(() => {
      console.log("CHAMARE");
      shouldRedirect = true;
    });

  if (shouldRedirect) {
    return Astro.redirect("/logout");
  }
}
---

<BaseLayout>
  <nav class="bg-indigo-600 p-4 flex items-center justify-between">
    <div>
      <h1 class="text-white text-xl font-semibold">Dashboard</h1>
    </div>
    <div class="flex items-center space-x-4">
      <span class="text-white">Bienvenido</span>
      <i class="fas fa-user-circle text-white text-2xl"></i>
    </div>
    <a
      href="/logout"
      class="flex justify-center rounded-md bg-indigo-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Logout
    </a>
  </nav>
</BaseLayout>
