---
import BaseLayout from "../layouts/BaseLayout.astro";
import "simple-notify/dist/simple-notify.min.css";
---

<BaseLayout>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registre su Cuenta</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" method="POST" data-form-register>
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Dirección email</label>
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Registrar</button
          >
        </div>
      </form>
    </div>
  </div>
</BaseLayout>

<script>
  import Notify from "simple-notify";

  function pushNotify(status, title, message) {
    new Notify({
      status: status,
      title: title,
      text: message,
      effect: "fade",
      speed: 300,
      customClass: null,
      customIcon: null,
      showIcon: true,
      showCloseButton: true,
      autoclose: true,
      autotimeout: 3000,
      gap: 20,
      distance: 20,
      type: 1,
      position: "right top",
    });
  }

  const form = document.querySelector("[data-form-register]");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form as HTMLFormElement);

    try {
      const response = await fetch("/api/register", {
        method: "POST",
        body: formData,
      }).then((res) => {
        return res.json();
      });

      if (response.message === "success") {
        console.log("User created successfully");
        pushNotify("success", "Cuenta creada", "Se ha creado la cuenta correctamente");
        setTimeout(() => {
          window.location.href = "/";
        }, 3100);
      } else {
        console.log(response.error);
        console.log(response.errorCode);

        if (response.errorCode === "auth/email-already-exists") {
          pushNotify("error", "Error", "Dirección de email ya registrada");
        }
        if (response.errorCode === "auth/invalid-email") {
          pushNotify("error", "Error", "Dirección de email inválida");
        }
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
